* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #25344f;
  color: white;
  line-height: 1.7;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 10%;
  background: #632024;

  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 80px 10%;
}

.hero-text {
  width: 55%;
}

.hero-text h1 {
  font-size: 50px;

  margin-bottom: 15px;
}

.hero-text span {
  color: #d5b893;
}

.hero-text h3 {
  color: #d5b893;

  margin-bottom: 20px;
}

.hero-image {
  width: 35%;

  display: flex;

  justify-content: center;
}

.hero-image img {
  width: 300px;

  height: 300px;

  object-fit: cover;

  border-radius: 20px;

  border: 6px solid #d5b893;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  padding: 12px 24px;

  margin-right: 15px;

  background: #6f4d38;

  color: white;

  text-decoration: none;

  border-radius: 10px;
}

section {
  padding: 70px 10%;
}

section h2 {
  margin-bottom: 30px;

  font-size: 34px;

  color: #d5b893;
}

.card {
  background: #617891;

  padding: 30px;

  border-radius: 15px;
}

.project-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.project-card {
  background: #617891;

  padding: 30px;

  border-radius: 15px;

  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);

  background: #6f4d38;
}

footer {
  padding: 40px;

  text-align: center;

  background: #632024;

  margin-top: 50px;
}
